.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading img {
  animation: text 1s ease-in-out infinite;
}
.loading h4 {
  letter-spacing: 1.2px;
  animation: text 1s ease-in-out infinite;
}
@keyframes text {
  50% {
    opacity: 0.1;
  }
}
